<main class="content-container-main">
    <h3>SELECIONE A MAQUINA</h3>
    <form action="/machineload/prevision" method="post">
        <select name="machine-select">
            <option value="1">PINTURA 01</option>
            <option value="2">PINTURA 02</option>
            <option value="3">PINTURA 03</option>
        </select>
        <input type="submit" value="PREVISOES">
    </form>
    
</main>