<aside class="container-aside">
    <ul>
        <li><a href="#">CADASTRO CLIENTE</a></li>
        <li><a href="#">CADASTRO PRODUTO</a></li>
        <li><a href="#">CADATRO MAQUINA</a></li>
        <li><a href="#">APONTAMENTOS</a></li>
        <li><a href="/machineload/machine-load">CARGA MAQUINA</a></li>
        <li><a href="#">CONFIGURACOES</a></li>
    </ul>
</aside>