<script>
    document.addEventListener("DOMContentLoaded", function(){
        new Sortable(document.querySelector(".table tbody"),{
        animation: 150,
        ghostClass: "ghost",
        filter: ".filtered"
        });
    });
    
</script>
</body>
</html>